<!DOCTYPE html>
<html lang="en">
<head>
  <title>Global</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<div class="device-notification">
    <p>Iplates</p>
  </a>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div> 
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
           <a class="header--logo" href="#0">
         <p>Iplates</p>
          </a>
          <div class="header--nav-toggle">
          <span></span>
          </div>
        </header>
        <nav class="l-side-nav"> 
          <ul class="side-nav">
            <li class="is-active"><span>主页</span></li>
            <li><span>今日最佳</span></li>
    		<li><span>用餐高峰</span></li>
    		<li><span>用户点评</span></li>
   			<li><span>历史销量</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
          </li>
          <li class="l-section section"> 
          </li>
          <li class="l-section section">
          </li>
          <li class="l-section section">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">主页</li>
    <li>今日最佳</li>
    <li>用餐高峰</li>
    <li>用户点评</li>
    <li>历史销量</li>
  </ul>
<!--</div> -->

<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="assets/js/functions-min.js"></script>
</body>
</html>
